.update-padding {
  padding-bottom: 10rem;
}

.ssBorder {
  border-bottom: rgb(224, 221, 221) solid 0.1rem;
  width: 200%;
}

.needed {
  color: red;
}

.search-padding {
  position: absolute;
  top: 13%;
  left: 11%;
}
